
table.api tr td:first-child {
  /* color: #999;
  font-size: 0.65em;
  vertical-align: top;
  text-transform: uppercase; */
}

table.api tr td:nth-child(2) {
  /* color: #333;
  font-size: 0.9em; */
}

table.params tr td {
  /* color: #999; */
  font-size: 0.75em; 
  /* text-align: right; */
  /* text-transform: uppercase; */
}

table.params tr td:nth-child(2) {
  color: #333;
  font-size: 0.8em;
}

pre { font-size: 0.75em !important; color:#666}